body {
  color: rgb(196, 186, 170);
  background-color: #1d1f20;
}

.header {
  height: 100px;
  width: 522px;
  display:table-cell;
  vertical-align:middle;
}

.header > h1 {
  float: left;
  font-size: 4em;
  margin: 0;
  color: rgb(196, 186, 170);
}

.scores {
  float: right;
  display: block;
}

.score-box {
  margin-left: 4px;
  padding: 12px 24px;
  font-size: x-large;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(104, 89, 74);
}

.score-box > span {
  display: block;
  text-align: center;
}

.score-title {
  font-variant: small-caps;
}

.score-value {
  color: whitesmoke;
}

.board {
  padding: 6px;
  width: 504px;
  height: 504px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-left: 12px;
  border-radius: 10px;
  background-color: rgb(104, 89, 74);
}

.board div {
  width: 120px;
  height: 120px;
  line-height: 2;
  font-size: 60px;
  margin-right: 6px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 6px;
  color: rgb(196, 186, 170);
  background: rgba(68, 50, 31, 0.35);
}
