body {
  color: whitesmoke;
  background-color: #1d1f20;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 100px;
  width: 522px;
  display: table-cell;
  vertical-align: middle;
}

.header > h1 {
  float: left;
  font-size: 4em;
  margin: 0;
  color: #C4BAAA;
}

.scores {
  float: right;
  display: block;
}

.score-box {
  margin-left: 4px;
  padding: 12px 24px;
  font-size: large;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(104, 89, 74);
}

.new-game-box {
  font-variant: small-caps;
  cursor: pointer;
  margin-left: 4px;
  padding: 12px 16px;
  font-size: large;
  position: relative;
  display: inline-block;
  border-radius: 6px;
  font-weight: bold;
  color: whitesmoke;
  background-color: #897662;
}

.new-game-box:hover {
  background-color: #897678;
}

.score-box > span {
  display: block;
  text-align: center;
}

.score-title {
  font-variant: small-caps;
}

.score-value {
  color: whitesmoke;
}

.board {
  padding: 6px;
  width: 504px;
  height: 504px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-left: 12px;
  border-radius: 10px;
  background-color: #68594a;
}

.board div {
  width: 120px;
  height: 120px;
  margin-right: 6px;
  font-weight: normal;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 6px;
  color: whitesmoke;
}

.cell,
.cell2,
.cell4,
.cell8,
.cell16,
.cell32,
.cell64 {
  font-size: 60px;
  line-height: 2;
}

.cell128,
.cell256,
.cell512 {
  font-size: 55px;
  line-height: 2.2;
}

.cell1024,
.cell2048,
.cell4096,
.cell8192 {
  font-size: 50px;
  line-height: 2.4;
}

.cell16384,
.cell32768,
.cell65536 {
  font-size: 40px;
  line-height: 3;
}

.cell131072 {
  font-size: 34px;
  line-height: 3.5;
}

.cell {
  background-color: #44321f59;
}

.cell2 {
  background-color: #44321f;
}

.cell4 {
  background-color: #583c1c;
}

.cell8 {
  background-color: #82501c;
}

.cell16 {
  background-color: #965a19;
}

.cell32 {
  background-color: #be5019;
}

.cell64 {
  background-color: #d25019;
}

.cell128 {
  background-color: #e65a19;
}

.cell256 {
  background-color: #fa6419;
}

.cell512 {
  background-color: #fa460f;
}

.cell1024 {
  background-color: #fa320f;
}

.cell2048 {
  background-color: #fa1e0f;
}

.cell4096 {
  background-color: #fa003c;
}

.cell8192 {
  background-color: #c8003c;
}

.cell16384 {
  background-color: #a0003c;
}

.cell32768 {
  background-color: #82003c;
}

.cell65536 {
  background-color: #64003c;
}

.cell131072 {
  background-color: #32003c;
}
